@media only screen and (min-width:38rem){
    .hamburger{
        display: none;
    }
    header{
        grid-template-columns: 40px auto;
    }
    header, main, nav, footer{
        max-width: 1000px;
        margin: 0 auto;
    }
    header img{
        
        height: 80px;
        width: auto;
    }
    .navigation{
        display: block;
    }
    .navigation ul{
        padding-bottom: 15px;
        padding-top: 15px;
        display: flex;
        background-color: var(--mint-color);
        padding-left: 7px;
        
    }
    .navigation a{
        display: block;
        width: 100%;
        border: none;
        font-family: var(--regular-text);
        color: black;
        font-weight: 200;
        font-size: 1.3rem;

        
    }
    /*****************HERO************************/
   .hero img{
        width: 100%;
        height: auto;    
   }
   h1{
    font-size: 1.5rem;
    padding-left: 2%;
   }
   .hero p{
    font-family: var(--regular-text);
    font-weight: 600;
    font-size: 5rem;
    color: white;
    position: absolute;
    margin-left: 10%;
    margin-top: -70%;
    width: 800px;
    height: auto;
    text-align: center;
}
.hero button{
    position: absolute;
    margin-left: 43%;
    margin-top: -35%;
}


.hero .icons {
    position: absolute;
    display: flex;
    bottom: 10%;           
    left: 50%;
    transform: translateX(-50%);
    gap: 5rem;
    align-items: center;
    justify-content: center;
}
.hero .icons div{
    background: var(--mint-color);
    display: flex;
    flex-direction: column;  
    align-items: center;      
        text-align: center;       
    padding: 1.2rem;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.hero .icons div img {
  width: 100%;      
  height: auto;
  
}

.hero .icons p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  font-family: var(--regular-text);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  cursor: pointer;
}
.hero .icons p:hover{
    color: var(--purple-color);
  cursor: pointer;
}

#sg{
    bottom:-50%;
    left:-64%;
    
}
#p{
    bottom:-50%;
    left:-25%;
   
}
#c{
    bottom:-50%;
    left:12%; 
}
}