:root{
    --regular-text: "Inter", sans-serif;
    --button-text:white;
    --mint-color:#D4EBE8;
    --beige-color:#F3EFE8;
    --gray-color:#E5E7EB;
    --purple-color:#9c57b5;
    --light-purpleColor:#ebd8f3;

}
body{
    margin-left: 1rem;
    box-sizing: border-box;
}
main{
     max-width: 1000px;
     margin: 0;
     
}
/********************HEADER*************************/
header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5px 0 10px;
    column-gap: 8px;
    align-items:center;
    background-color: black;
    box-sizing: border-box;
}
header img{
    display: block;
    height:auto;
    width: 100%;
}

/**************HAMBURGER NAVIGATION*************************/
.hamburger{
    width: 50px;
    height: 50px;
    margin: 0%;
    padding: 0%;
    border: none;
    cursor: pointer;
    justify-self: end;

  background: transparent; /*makes the content backgroud dessapear*/
    
}
.hamburger::before{
    content: "\2630";
    font-size: 2.5rem;
    color:white;
    background-color: black;   
}

.hamburger.show::before{
    content: "\00D7";
    font-size: 2.5rem;
    color:white;
    background-color: black;
    padding: 0%;
    margin: 0%;
}
/**************NAVIGATION*************************/
.navigation{
    display: none;

   }
.navigation.show{
    display: block;
    /*background-color: var(--mint-color);*/

}
.navigation ul{
 list-style-type: none;
 padding: 0%;
 margin:0%;
 /*background-color: var(--mint-color);*/
 
}
.navigation li.current{
    background-color:#e7f3e8 ;
    border: 0.5px solid ;
}
.navigation a{
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    padding: 0.8rem 10px;
    font-family: var(--regular-text);
    font-weight: 200;
    color: black;
    border: solid 2px white;
}
.navigation a:hover{
    
    border: solid 2px white;
    border-radius: 15px;
    color: black;
    background-color: white;
}
.heading{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    font-family: var(--regular-text);
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
    font-size: 0.7rem;
    background-color: var(--gray-color);
    padding: 0.75rem 1.7rem;
    width: 100%;
    box-sizing: border-box;
}
h1{
    grid-column: 1/2;
    
}
.heading p{
    grid-column: 2/3;
    font-size: 0.5rem;
}
/******************GYM-PICTURES*******************/

.gym-pictures{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
.gym-pictures .card{
    width: 100%;
    justify-items: center;
}
.gym-pictures .card img{
    width: 220px;
    height: auto;
}
.gym-pictures .card p{
    font-family: var(--regular-text);
    font-weight: 200;
}


/******************FOOTER************************/
footer{
    
    padding: 1rem 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.8rem;
    background-color: black;
}
.social{
    display: flex;
    column-gap: 8px;
    justify-content: center;
}
footer img{
    width:22px;
    height: 22px;
}
.social a{

    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a:hover{
    border: solid 1px var(--normal-color);
    background-color:var(--purple-color);
    border-radius: 24px;
}
footer p{
    font-family: var(--regular-text);
    font-weight: 200;
    color: white;
}

