

:root{
    --text-font: "Montserrat", sans-serif;
    --heading-font2: "Inter", sans-serif; 
    --font-color: #2a5711;
    --active-color:white;
    --wayfinding-color:#f2f5f5;

}
/********************HEADER*************************/
header{
    display: grid;
    grid-template-columns: 40px auto 44px;
    padding: 5px 0 10px;
    column-gap: 8px;
    align-items:center;
    background-color: var(--active-color);
}
header img{
    display: block;
    width: 150px;
    height: auto;
}
header span{
    font-family: var(--heading--font2);
    color: var(--font-color);
    font-size: 3rem;
    font-weight: 900;
    padding-left: 80px;
    align-self: center;
}
/**************HAMBURGER NAVIGATION*************************/
.hamburger{
    background-color: var(--header-color);
    border: none;
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 2rem;
    color: var(--font-color);
}

.hamburger.show::before{
    content: "\00D7";
    font-size: 2.5rem;
}
/**************NAVIGATION*************************/
.navigation{
    display: none;

   }
.navigation.show{
    display: block;
}
.navigation ul{
 list-style-type: none;
 padding: 0%;
 margin: 0%;
 
}
.navigation a{
    display: block;
    text-decoration: none;
    padding: 0.8rem 10px;
    font-family: var(--text--font);
    color: var(--font-color);
    background-color: var(--normal-color);
    border: solid 1px var(--active-color);
}
.navigation a:hover{
    background-color: var(--active-color);
}
/**************CARDS*************************/
.business-members{
    display: flex;
    max-width: 900px;
}