@media only screen and (min-width:38rem){
    .hamburger{
        display: none;
    }
    header{
        grid-template-columns: 40px auto;
    }
    header, main, nav, footer{
        max-width: 900px;
        margin: 0 auto;
    }
    header span{
        font-size: 3rem;
        display: flex;
    }
    .navigation{
        display: block;
        background-color: var(--normal-color);
        border: solid 1px var(--active-color);
    }
    .navigation ul{
        display: flex;
    }
    .navigation a{
        display: block;
        width: 100%;
        border: none;
    }
   
}  