@media (min-width:41rem) and (max-width:64rem){
    /**************CARDS*************************/
#placesCards .card{
  
    display: grid;
    grid-template-areas: 
    "name name"
    "photograph description"
    "photograph know-more";
}

}