:root{
    --text-font: "Montserrat", sans-serif;
    --heading-font2: "Inter", sans-serif; 
    --heading-font:"Playfair Display", serif;
    --font-color: #2a5711;
    --active-color:white;
    --wayfinding-color:#f2f5f5;

}
body{
    margin-left: 1rem;
    box-sizing: border-box;
}
main{
     max-width: 900px;
     margin: 0;
}
/********************HEADER*************************/
header{
    display: grid;
    grid-template-columns: 40px auto 44px;
    padding: 5px 0 10px;
    column-gap: 8px;
    align-items:center;
}
header img{
    display: block;
    width: 150px;
    height: auto;
}
header span{
    font-family: var(--heading-font);
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 900;
    padding-left: 80px;
    align-self: center;

}
/**************HAMBURGER NAVIGATION*************************/
.hamburger{
    background-color: var(--header-color);
    border: none;
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 2rem;
    color: var(--font-color);
}

.hamburger.show::before{
    content: "\00D7";
    font-size: 2.5rem;
}
/**************NAVIGATION*************************/
.navigation{
    display: none;

   }
.navigation.show{
    display: block;
}
.navigation ul{
 list-style-type: none;
 padding: 0%;
 margin: 0%;
 
}
.navigation li.current{
    background-color:#e7f3e8 ;
}
.navigation a{
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    padding: 0.8rem 10px;
    font-family: var(--text-font);
    color: var(--font-color);
    background-color: var(--normal-color);
    border: solid 1px var(--active-color);
}
.navigation a:hover{
    background-color: var(--font-color);
    color: white;
}
#page-title{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}
#page-title h1{
    font-family: var(--heading-font2);
    color: var(--font-color);
    margin-left: 1rem;
}
#page-title span{
    align-self: center;
    justify-self: center;
}
#numVisits{
    font-family: var(--text-font);
    font-size: 0.4rem;

}

/**************CARDS*************************/
#placesCards .card{
    border: 1px solid rgb(189, 213, 203);
    margin: 1rem 8px;
    background-color: var(--wayfinding-color);
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "name"
    "photograph"
    "description"
    "know-more"
    ;
}
#placesCards .card h2{
    grid-area: name;
    justify-self: center;
    font-family: var(--heading-font);
}
#placesCards .card figure{
    grid-area: photograph;
    justify-self: center;
    
    box-sizing: border-box;
}
#placesCards .card p{
    grid-area: description;
    justify-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: var(--text-font);
}
#placesCards .card button{
    grid-area: know-more;
    justify-self: center;
    margin-bottom: 2rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    font-family: var(--text-font);
    font-weight: 500;
    background-color: var(--font-color);
    color: var(--wayfinding-color);
}
 #placesCards .card img{
   box-shadow: 0 4px 20px rgba(0,0,0,0.2);
   width: 100%;
    
}
/******************FOOTER************************/
footer{
    background-color: var(--font-color);
    padding: 1rem 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.8rem;
}
.social{
    display: flex;
    column-gap: 8px;
    justify-content: center;
}
footer img{
    width:22px;
    height: 22px;
}
.social a{

    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a:hover{
    border: solid 1px var(--normal-color);
    background-color: white;
    border-radius: 24px;
}
footer p{
    font-family: var(--heading-font2);
    color: white;
    font-weight: 200;
}
