

:root{
    --text-font: "Montserrat", sans-serif;
    --heading-font2: "Inter", sans-serif; 
    --heading-font:"Playfair Display", serif;
    --font-color: #2a5711;
    --active-color:white;
    --wayfinding-color:#f2f5f5;

}
body{
    margin-left: 1rem;
    box-sizing: border-box;
}
main{
     max-width: 900px;
     margin: 0;
}
/********************HEADER*************************/
header{
    display: grid;
    grid-template-columns: 40px auto 44px;
    padding: 5px 0 10px;
    column-gap: 8px;
    align-items:center;
}
header img{
    display: block;
    width: 150px;
    height: auto;
}
header span{
    font-family: var(--heading-font);
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 900;
    padding-left: 80px;
    align-self: center;

}
/**************HAMBURGER NAVIGATION*************************/
.hamburger{
    background-color: var(--header-color);
    border: none;
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 2rem;
    color: var(--font-color);
}

.hamburger.show::before{
    content: "\00D7";
    font-size: 2.5rem;
}
/**************NAVIGATION*************************/
.navigation{
    display: none;

   }
.navigation.show{
    display: block;
}
.navigation ul{
 list-style-type: none;
 padding: 0%;
 margin: 0%;
 
}
.navigation li.current{
    background-color:#e7f3e8 ;
}
.navigation a{
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    padding: 0.8rem 10px;
    font-family: var(--text-font);
    color: var(--font-color);
    background-color: var(--normal-color);
    border: solid 1px var(--active-color);
}
.navigation a:hover{
    background-color: var(--font-color);
    color: white;
}
/**************HERO*************************/
.hero{
    position: relative;
    
}
/*.hero picture{
    position: absolute;
    display: block;

}*/
.hero .join{
    position: absolute;

}
.hero img {
  width: 100%;                 
  height: 100%;
  object-fit: cover;  /*This rule makes the image cover the width of its parent*/
  display: block;
}
/**************SECTIONS*************************/
h1{
    font-family: var(--heading-font2);
    color: var(--font-color);
}
.sections{
    max-width: 100%;
    display: grid;
    grid-template-rows: 60px 250px 220px;
}
.section1{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
}
.section2{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
.events{
    grid-column: 1/2;
}
.c-weather{
    grid-column: 2/3;
}
.forecast{
    grid-column: 3/4;
}


.spotlights{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 1fr;
}
.cards{
    display: grid;
    
    max-width: 100%;            /*rule to make the content not overflow*/
        /*the container*/
    border: 1px solid rgba(0, 0, 0, 0.1);       /* light gray line */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08); /* soft shadow bottom & right */
    border-radius: 8px;                         /* optional: soft corners */
    background-color: #fff;                     /* clean base for content */
    padding: 1.2rem;
    justify-content: center;
    grid-template-rows: 40px 40px 40px 40px 40px 100px;
}

/*.grid section {
		text-align: center;
		
        }
.grid .business-members{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
	    align-items: center;
        margin-bottom: 1rem;
    }
*/
.cards img {
		border: 1px solid #fff;
		box-shadow: 0 0 1rem #555;
	}
.web{
    max-width: 100%;            
    box-sizing: border-box; 
    font-size: 0.6rem;
    text-decoration:underline;
    color: #1f2b41;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: var(--text-font);
}
.web:visited{
    color: #550d0f;
}
.web:hover{
    color: var(--font-color);
    cursor: pointer;
}
/******************FOOTER************************/
footer{
    background-color: var(--font-color);
    padding: 1rem 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.8rem;
}
.social{
    display: flex;
    column-gap: 8px;
    justify-content: center;
}
footer img{
    width:22px;
    height: 22px;
}
.social a{

    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a:hover{
    border: solid 1px var(--normal-color);
    background-color: white;
    border-radius: 24px;
}
footer p{
    font-family: var(--heading-font2);
    color: white;
    font-weight: 200;
}