
:root{
    --text-font: "Montserrat", sans-serif;
    --heading-font2: "Inter", sans-serif; 
    --heading-font:"Playfair Display", serif;
    --font-color: #2a5711;
    --active-color:white;
    --wayfinding-color:#f2f5f5;

}
body{
    margin-left: 1rem;
    box-sizing: border-box;
}
main{
     max-width: 900px;
     margin: 0;
     display: grid;
     grid-template-columns: 1fr 1fr;
}
/********************HEADER*************************/
header{
    display: grid;
    grid-template-columns: 40px auto 44px;
    padding: 5px 0 10px;
    column-gap: 8px;
    align-items:center;
}
header img{
    display: block;
    width: 150px;
    height: auto;
}
header span{
    font-family: var(--heading-font);
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 900;
    padding-left: 80px;
    align-self: center;

}
/**************HAMBURGER NAVIGATION*************************/
.hamburger{
    background-color: var(--header-color);
    border: none;
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 2rem;
    color: var(--font-color);
}

.hamburger.show::before{
    content: "\00D7";
    font-size: 2.5rem;
}
/**************NAVIGATION*************************/
.navigation{
    display: none;

   }
.navigation.show{
    display: block;
}
.navigation ul{
 list-style-type: none;
 padding: 0%;
 margin: 0%;
 
}
.navigation li.current{
    background-color:#e7f3e8 ;
}
.navigation a{
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    padding: 0.8rem 10px;
    font-family: var(--text-font);
    color: var(--font-color);
    background-color: var(--normal-color);
    border: solid 1px var(--active-color);
}
.navigation a:hover{
    background-color: var(--font-color);
    color: white;
}
h1{
    font-family: var(--heading-font2);
    color: var(--font-color);

}
/******************MSH CARDS***********************/
/*.membership-cards{
    display: grid;
    grid-template-columns: ;
}*/
.membership-cards div{
    width: 200px;
    height: 30px;
    background-color: white;
    border: 1px solid var(--font-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
}
.membership-cards h3{
    font-family: var(--heading-font);
    color: var(--font-color);
    text-align: center;
}
button {
		padding: 0.5rem 1rem;
		font-weight: 400;
        background-color: #2a5711;
        color: #f2f5f5;
        font-family: var(--text-font);
        border:1px solid white; 
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
        text-align: center;
	}


	
.grid section {
		text-align: center;
		
        }
{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
	    align-items: center;
        margin-bottom: 1rem;
    }

.grid img {
		border: 1px solid #fff;
		box-shadow: 0 0 1rem #555;
	}
.grid .cards{
    max-width: 100%;            /*rule to make the content not overflow*/
        /*the container*/
    border: 1px solid rgba(0, 0, 0, 0.1);       /* light gray line */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08); /* soft shadow bottom & right */
    border-radius: 8px;                         /* optional: soft corners */
    background-color: #fff;                     /* clean base for content */
    padding: 1.2rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 40px 20px 40px;
    }


p{
    font-family: var(--text-font);
    font-weight:400;
    font-size: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100%;            
 }
p.name{
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

/******************FOOTER************************/
footer{
    background-color: var(--font-color);
    padding: 1rem 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.8rem;
}
.social{
    display: flex;
    column-gap: 8px;
    justify-content: center;
}
footer img{
    width:22px;
    height: 22px;
}
.social a{

    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a:hover{
    border: solid 1px var(--normal-color);
    background-color: white;
    border-radius: 24px;
}
footer p{
    font-family: var(--heading-font2);
    color: white;
    font-weight: 200;
}

/******************THANKYOU************************/
#thankyou{
    width: 400px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  padding: 20px;
  position: absolute;
  margin-left: 50px;
  margin-top: 100px;
  text-align: center;
}
#thankyou p{
    font-size: 0.9rem;
}