

:root{
    --text--font: "Zalando Sans", sans-serif;
    --heading--font: "Playfair Display", serif;
    --heading--font2: "Inter", sans-serif; 
    --font-color: #402A2C;
    --active-color:#E8C2CA;
    --normal-color:#FCEFEE;
    --header-color:#F4C2C2;

}
/********************HEADER*************************/
header{
    display: grid;
    grid-template-columns: 40px auto 44px;
    padding: 5px 0 10px;
    column-gap: 8px;
    align-items:center;
    background-color: var(--active-color);
}
header img{
    display: block;
    width: 100%;
    height: auto;
    padding-left: 10px;
}
header span{
    font-family: var(--heading--font2);
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 900;
    padding-left: 10px;
}
/**************HAMBURGER NAVIGATION*************************/
.hamburger{
    background-color: var(--header-color);
    border: none;
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 2rem;
    color: var(--font-color);
}

.hamburger.show::before{
    content: "\00D7";
    font-size: 2.5rem;
}
/**************NAVIGATION*************************/
.navigation{
    display: none;

   }
.navigation.show{
    display: block;
}
.navigation ul{
 list-style-type: none;
 padding: 0%;
 margin: 0%;
 
}
.navigation a{
    display: block;
    text-decoration: none;
    padding: 0.8rem 10px;
    font-family: var(--text--font);
    color: var(--font-color);
    background-color: var(--normal-color);
    border: solid 1px var(--active-color);
}
.navigation a:hover{
    background-color: var(--active-color);
}
/******************CARD ABOUT*********************/
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 1fr 1fr;
    box-sizing: border-box;
    font-family: var(--text--font);
    font-weight: 200;
    font-size: 0.8rem;
    padding-left: 10px;
}

.card.about{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 1fr;;
    
}
.card.about h2{
    grid-column:1/2;
    grid-row: 1fr;
    text-align: center;
}
.card.about p{
    grid-column:1/2;
    grid-row: auto auto;
}

#catamarca{
    width: 300px;
    height: auto;
    grid-column:1/2;
    grid-row: 100px auto 1fr;;
    justify-self: center;
    
}
/******************CARD SCRIPTURE****************/

.card.scripture{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto auto;
    column-gap: 8px;
}
.card.scripture h2{
    grid-column:1/3;
    grid-row: 1fr;
    text-align: center;
}
.card.scripture p{
    grid-column:2/3;
    grid-row: auto auto;
    justify-self: center;
    
}
#buni{
    width: 200px;
    height: auto;
    grid-column:1/2;
    grid-row: auto auto;
    align-self: center;
}
/******************COURSES************************/
#courses{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: repeat(1fr);
    column-gap: 5px;
    row-gap: 10px;
    margin-bottom: 10px;
}
#courses h2{
    grid-column: 1/4;
    grid-row: 1fr;
    justify-self: center;
}
#allCourses{
    grid-column: 1/2;
    grid-row: auto auto;
    padding: 5px 4px 4px 5px;
    border-radius: 5px;
    border: var(--font-color) solid 1px;
    background-color: var(--normal-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;

}
#WDDcourses{
    grid-column: 2/3;
    grid-row: auto auto;
    padding: 5px 4px 4px 5px;
    border-radius: 5px;
    border: var(--font-color) solid 1px;
    background-color: var(--normal-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
#CSEcourses{
    grid-column: 3/4;
    grid-row: auto auto;
    padding: 5px 4px 4px 5px;
    border-radius: 5px;
    border: var(--font-color) solid 1px;
    background-color: var(--normal-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
#allCourses:hover, 
#WDDcourses:hover,
#CSEcourses:hover{
    background-color: var(--active-color);
    
}
.CSEcoursesCard.hidden,
.WDDcoursesCard.hidden,
.coursesCard.hidden{
    display: none;
}
.CSEcoursesCard,
.WDDcoursesCard,
.coursesCard{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: var(--font-color) solid 1px;
    background-color: var(--normal-color);
    column-gap: 2px;
    
}

/******************FOOTER************************/
footer{
    background-color: var(--active-color);
    padding: 1rem 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.8rem;
}
.social{
    display: flex;
    column-gap: 8px;
    justify-content: center;
}
footer img{
    width:22px;
    height: 22px;
}
.social a{

    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a:hover{
    border: solid 1px var(--normal-color);
    background-color: var(--normal-color);
    border-radius: 24px;
}
p{
    font-family: var(--heading--font2);
    color: var(--font-color);
    font-weight: 200;
}